<html>
    <head>
        <title>Website status check</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                padding-left: 15px;
            }
        </style>
    </head>
    <body>
        <table style="width:50%">
            <tr>
                <th>Site URL</th>
                <th>Status</th>
                <th>Load Time(Seconds)</th>
            </tr>
            {% for url_status in report.urls %}
            <tr>
                <td>{{ url_status.url }} </td>
                <td>{{ url_status.status }}</td>
                <td>{{ url_status.load_time }}</td>
            </tr>
            {% endfor %}
        </table>
        <div><br>Last updated: {{ report.last_updated }}</div>
    </body>
</html>